<nav class="navbar navbar-expand-lg w-100 position-fixed myNav">
    <div class="container">
        <a class="navbar-brand fw-bold text-uppercase cursor-pointer" routerLink="home">Route</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item mx-2">
                    <a class="nav-link cursor-pointer fw-bold " routerLink="home"
                        routerLinkActive="">Home</a>
                </li>


            </ul>
        </div>
    </div>
</nav>